body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Ensure the body takes the full height of the viewport */
    z-index: 1;
}


header {
    background-color: #2E271F;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, .3);
}

header.transparent {
    background-color: rgba(46, 39, 31, 0.9);
    box-shadow: none;
}

header img {
    width: 50px;
    height: auto;
}

header h1 {
    color: #F19530;
    margin: 0;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.contact-title {
    position: absolute;
    /* Position the text over the image */
    top: 50%;
    /* Position it vertically centered */
    left: 50%;
    /* Position it horizontally centered */
    transform: translate(-50%, -50%);
    /* Adjust for exact centering */
    font-size: 5.5rem;
    /* Adjust the text size */
    color: #333;
    /* Orange color for the text */
    font-family: Arial, sans-serif;

    font-weight: bold;
    /* Bold font */
    text-align: center;
    /* Center the text */
    z-index: 100;
    /* Make sure the text is on top */
    margin-top: -80px;
    /* Adjust the vertical positioning of the text */
    width: 100%;
}


/* Parallax container */
.parallax-container {
    position: relative;
    height: 65vh;
    /* Matches the image height */

}

/* Background image with parallax effect */
.image-background {
    position: relative;
    top: 50;
    /* Start from the top */
    width: 100%;
    height: 70vh;
    /* Adjust height as necessary */
    object-fit: cover;
    /* Ensure the image covers the container */
    z-index: 1;
    /* Keeps the image behind other content */
    will-change: transform;
    /* Optimizes for smooth scrolling */
    transition: transform 0.1s ease-out;
    /* Smooth effect */
    z-index: 0;
}

.custom-shape-divider-top-1738782761 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    color: #ffffff;
    transform: rotate(180deg);
    margin-top: -130px;
    z-index: 3;
}
h2 {
    font-size: 1.5rem;
}


nav {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

nav a:hover {
    color: #F19530;
    text-decoration: none;
}

footer {
    background-color: #2E271F;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    color: #F19530;
    position: relative;
}

.footer-links {
    margin-top: 0.5rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 0.9rem;
}

.footer-links a:hover {
    color: #F19530;
}




.privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 40px 60px 20px 60px;
    background-color: #ffffff;
    width: 100%;
    max-width: 1100px;
    position: relative;
}



.privacy-policy p, 
.privacy-policy ul {
    font-size: 1rem;
    color: #444;
}

.privacy-policy ul {
    margin-left: 20px;
}

.privacy-policy a {
    color: #0066cc;
    text-decoration: none;
}
.privacy-policy a:hover {
    text-decoration: underline;
}
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 100px 20px; /* Adjust padding to account for the fixed header */
    background-color:   #ffffff;
    z-index: 100;
}

